<h1>Hej Mosis! Lägg till ett potentiellt drömhem för oss här!</h1>

<%= form_for :property, url: properties_path do |f| %>
	<p>
		<%= f.label :url %><br>
		<%= f.text_field :url %>
	</p>

	<P>
		<%= button_tag(type: 'submit') do %>
			<3 <3 <3 
		<% end %>
	</P>
<% end %>
