// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 

body {
	font-family: sans-serif;
}

th {
	text-align: left;
	text-decoration: underline;
}

td {
	padding-right: 50px; 
	text-align: left;
}

.thumb-image {
	width: 180px;
	height: 150px;
	border-radius: 0em;
}

table main a {
	
}

td h1 {
	font-size: 2em;
	font-weight: 300;
	font-family: helvetica;
}

#property_url {
	width: 90%;
	margin: 10px 10px 0 0;
}

#wrapper {
	margin-left: 10px;
}
