// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: sans-serif;
}

th {
	text-align: left;
}

td {
	padding-right: 50px; 
	text-align: left;
}

.thumb-image {
	width: 150px;
	height: 150px;
	border-radius: 5em;
}

